@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.clock {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 250px;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  max-width: 600px;
  margin: 20px auto;
  border: 3px solid blue;
}

.btns {
  display: flex;
  margin-top: 30px;
}

.btns button {
  border: 2px solid blue;
  padding: 5px 10px;
  border-radius: 7px;
  color: blue;
  cursor: pointer;
  margin: 10px;
  font-size: 18px;
}
